.task-screen {
    width: 100%;
    max-width: 1000px;
    height: max-content;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

::-webkit-scrollbar {
    display: none;
}

.header {
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 10;
}

.head-list {
    max-width: 800px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

.showtask-main {
    padding-top: 10px;
    overflow-x: visible;
    overflow-y: scroll;
}



.maintask-screen-content {
    overflow-x: visible;
    overflow-y: scroll;
    height: 80vh;
    background-color: #f0f9ff;
    padding-top: 3px;
}

.head-content {
    position: sticky;
    top: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--second-shadow);
    display: flex;
    padding: 10px 50px;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: auto;

}

.head-list h3 {
    cursor: pointer;
}